@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
