@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-layout {
    display: grid;
    min-height: 100vh;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
}

.grid-header {
    grid-area: header;
}

.grid-main {
    grid-area: content;
}

.grid-footer {
    grid-area: footer;
}

input:focus{
    outline: none;
}

.grid-login {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "labels inputs placeholder";
}

.grid-labels
{
    grid-template-columns: 1fr 35% 1fr;
}

.grid-order
{
    grid-template-columns: auto 1fr;
}

.grid-order2
{
    grid-template-columns: 1fr auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

td, th {
    padding: 0.75rem 1rem;
}

select {
    border-right: 0.75rem solid #F5F5F5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.popup__content {
    text-align: center;
}

.popup button {
    margin-top: 10px;
}

@media (min-width: 1024px) {
    .grid-labels
    {
        grid-template-columns: 1fr 30% 1fr;
    }
}

@media (min-width: 1280px) {
    .grid-labels
    {
        grid-template-columns: 1fr 25% 1fr;
    }
}

@media (min-width: 1800px) {
    .grid-labels
    {
        grid-template-columns: 1fr 15% 1fr;
    }
}